# Eksplorativ DataAnalyse - datasett husdyrregisteret (storfe)

![meatProd](https://medlem.nortura.no/getfile.php/Nortura%20Medlem/medlem.gilde.no/Bildearkiv/DYR/Storfe/beite/stofe-beite-i-fjellet.gif)


**Select the cell** you want to run, and press **SHIFT+ENTER** to run the individual code / demo items

***Note:*** 
In order to be able to run this Notebook, the following python packages are needed:
- *ipywidgets*

To install these packages run 'pip install *package_name*' in Unix shell, e.g. in Anacondas shell.

> **Author:** *David Volent Lindberg*

## 1. Problembeskrivelse
### 1.1. Sammendrag problembeskrivelse
- To ganger årlig må bonden/produsent telle antall dyr (storfe) og mottar produksjonstilskudd basert på antallet dyr. 
- Bonden/produsent ønsker naturlig nok et så høyt antall dyr som mulig ved telledato, som fører til at potensielt slakteklare dyr blir holdt tilbake. I dagene (og potensielt ukene) etter telledato sendes dermed et høyt antall dyr til slakt (unormalt høyt sammenlignet med resten av året) som fører til økt press på slakteriene og på markedet mye på grunn av plassbegrensning i fjøs.
- Spesielt etter telledato på høsten (f.o.m. 2017 er dette 1.oktober) er dette presset stort, og bl.a. i 2017 klarte ikke markedet ta unna denne overproduksjonen. Dette fører til at kjøtt må fryses ned (~1000 tonn i 2017 - **NOTE: Dette må sjekkes med god kilde**). Kostnad for eventuell nedfrysning må bonden/produsent ta selv (legges til omsetningsavgiften) i tillegg til at bonden får dårligere kilospris fra slakteriet. 
- Overproduksjon på høsten skjer til tross for at totaltproduksjon gjennom hele året gir underskudd på storfekjøtt (som fører til mer import), som klart tyder på ujevn fordeling i produksjon. Veldig få bønder/produsenter ønsker å slakte i august og september pga midre støtte, selv om dette kunne ført til mer jevn fordeling. 
- For sluttforbrukeren er dette også ugunstig, ettersom a) hun/han får mindre tilgang på ferskt norskt kjøtt gjennom året, og dermed må ty til importert kjøtt, eller at b) at hun/han må ta til takke med kjøtt som er frosset ned.

<div class="alert alert-block alert-warning"><b><head> Totalt skaper dette skjevfordeling i salg, og tilsvarende i markedet og hos slakteriene, som kunne vært unngått ved en bedre tilskuddsordning. Dette problemet ønsker vi å bidra til å unngå ved hjelp av digitale løsninger. Dette vil kunne gagne alle ledd i verdikjeden; bonden/produsent, slakteriet og sluttforbruker! </head></b></div>

> **Oppsummering:** Fast telling av dyr to ganger årlig, med samsvarende produksjonstilskudd, gir skjevhet i produksjon og markedet. Jevnere fordeling kan oppnås med bedre digitale løsninger, hvor årlig produksjonstilskudd bestemmes mer dynamisk, og ikke basert på kun 2 registreringer. Dataene med antall dyr ligger allerede inne i digitale systemene, så dette bør egentlig være en lavthengende frukt.

### 1.2 Bakgrunn - Registrering av husdyr
#### 1.2.1 Registrering av flytting, fødsel og død
Av reglene fra Mattilsynet angående forflytning, fødsel og død av storfe (se [link](https://www.mattilsynet.no/dyr_og_dyrehold/produksjonsdyr/merking_og_registrering_av_produksjonsdyr/rapportering_til_husdyrregisteret__storfe.4942)) skal dette rapporteres inn i husdyrregisteret:
- Dyreholder, unntatt transportør, skal sørge for at alle forflytninger av dyr til og fra driftsenheten og alle fødsler og dødsfall av dyr på driftsenheten blir rapportert til Mattilsynet. Det er dyreholder selv som er ansvarlig for at opplysningene blir rapporterte inn til Husdyrregisteret innen tidsfristen.
- Rapport om forflytning av dyr til eller fra driftsenheten eller dødsfall av dyr på driftsenheten skal avgis innen 7 dager etter at hendelsen fant sted. Rapport om fødsel av dyr på driftsenheten skal avgis innen 7 dager etter at dyret ble merket. Frist for merking av storfe er 20 dager etter fødsel, men likevel før de flyttes fra driftsenheten de ble født på.
- Rapporten, med de opplysningene som kreves i § 12 til § 15, i Forskrift om sporbarhet og merking av storfe og storfekjøtt mv., skal avgis ved dataoverføring til Mattilsynets tilsynssystemer (Husdyrregisteret) eller på skjema som skal levers til Mattilsynet sitt avdelingskontor. 
- Rapportering kreves ikke dersom kalv dør på driftsenheten før den er merket.
***

#### 1.2.2 Årlige registreringer for produksjonstilskudd og tilhørende satser
Bonden må telle antall individer 2 ganger årlig; 
- Datoer frem til 2016: 31.juli og 31.desember
- Endring i 2017 (overgangsår): Søknadsfrist 15. mai, med telledato 1. mai, og søknadsfrist 15. oktober med telledato 1. oktober.
- Endring f.o.m. 2018: Søknadsfrist 15.mars, med telledato 1.mars, og søknadsfrist 15. oktober med telledato 1. oktober.

Disse datoene er søknadsfrister for husdyrtilskudd, hentet fra [landbruksdirektoratets sider](https://www.landbruksdirektoratet.no/no/produksjon-og-marked/produksjonstilskudd/nytt-system-for-soknad-om-produksjonstilskudd-fra-2017/husdyrproduksjon).


Bonden rapporterer i [storfe.animalia.no](https://storfe.animalia.no/). Dette systemet korresponderer med systemet til Mattilsynet. (Kukontrollen (TINE) - for melkeprodusentene).

***

Produksjonstilskudd, hentet fra kap.7.2 i [jordbruksavtale 2017-2018](https://www.regjeringen.no/contentassets/4e46f99082e64722a0809fb0f69325d2/jordbruksavtale-2017-2018.pdf) (inngått mellom Staten, Norges Bondelag og Norsk Bonde- og Småbrukarlag), årlige satser (sats i kr/dyr/år):
- *Melkeku* (maks tilskudd 340.100): Ku som har kalvet i løpet av de siste 15 måneder (18 måneder for kyr av bevaringsverdig rase - sidet trønder- og nordlandsfe, østlandsk rødkolle, dølafe, vestlandsk raudkolle, vestlandsk fjordfe eller telemarkfe) og som er i melkeproduksjon hos foretak som enten har disponibel kvote eller lokalforedlingskvote. 
<table style="width:50">
  <tr>
    <th>Antall melkekyr</th>    <th>Tilskudd per individ (NOK)</th> 
  </tr>
  <tr> <td>1-16</td>  <td>4168,-</td>  </tr>
  <tr> <td>17-25</td> <td>2022,-</td>  </tr>
  <tr> <td>26-50</td> <td>976,-</td>  </tr>
  <tr> <td>51+</td> <td>780,-</td>  </tr>  
</table><break>

- *Ammeku* (maks tilskudd 340.100): Ku som har kalvet i løpet av de siste 15 måneder (18 måneder for kyr av bevaringsverdig rase - sidet trønder- og nordlandsfe, østlandsk rødkolle, dølafe, vestlandsk raudkolle, vestlandsk fjordfe eller telemarkfe.), men som ikke er melkeku. Dersom foretaket driver kumelkproduksjon må kua i tillegg være av minst 50% av kjøttferasene Hereford, Charolais, Aberdeen Angus, Limousin, Kjøttsimmental, Blonde d´Aquitaine, Highland Cattle, Dexter, Piemontese, Galloway, Salers eller Wagyu.
<table style="width:50">
  <tr>
    <th>Antall ammekyr</th>    <th>Tilskudd per individ (NOK)</th> 
  </tr>
  <tr> <td>1-50</td>  <td>3880,-</td>  </tr>
  <tr> <td>51+</td> <td>780,-</td>  </tr>  
</table><break>

- *Øvrige storfe* (maks tilskudd 648.100): Storfe som foretaket ikke kan få tilskudd for som melkeku eller ammeku.
<table style="width:50">
  <tr>
    <th>Antall øvrige storfe</th>    <th>Tilskudd per individ (NOK)</th> 
  </tr>
  <tr> <td>Alle dyr</td> <td>780,-</td>  </tr>  
</table><break>

Med dagens ordning, med 2 årlige tellinger, mottar bonden/produsent 50% av disse satsene for hver telling.

***

#### 1.2.3 Omsetningsavgift (se [Norturas sider](http://totalmarked.nortura.no/omsetningsavgift/category13593.html))
> *"Omsetningsavgiften belastes de dyreslag/produksjoner der det er markedsregulering og felles opplysningsvirksomhet. Midlene brukes til faglige tiltak, opplysningsvirksomhet, administrasjonskostnader hos markedsregulator, markedsregulerende tiltak og produksjonsregulerende tiltak. Midlene plasseres i fond - og det er tre adskilte fond for hvitt kjøtt, egg og kjøtt fra storfe, sau/lam og gris."*

> *"Det søkes Omsetningsrådet om satser hvert halvår, og endringer i kostnader og markedssituasjon kan gi endringer."*

- For Norturas produksjoner er følgende satser fastsatt for 2017 (avgift i NOK/kg):
    
<table style="width:50">
  <tr>
    <th>Dato:</th>    <th>01.01.2017</th>  <th>06.02.2017</th> <th>20.03.2017</th> 
                      <th>03.07.2017</th> <th>18.09.2017</th> <th>02.10.2017</th> 
  </tr>
  <tr> <td>Avgift (NOK/kg):</td> <td>0.80,-</td> <td></td> <td>0.30,-</td> <td></td> <td></td> <td>0.80,-</td>  </tr>  
</table><break>    

Diskusjon:
- Ulik omsetningsavgift gjennom året finnes for å skape mer balanse i markedet.
- Omsetningsavgiften er størst i oktober til årsskifte pga diskutert overproduksjon i denne perioden som skaper ujevnhet(ubalanse i markedet. Dette skyldes både
    - gjeldende regelverk for produksjonsrilskudd, som er for statisk, men også 
    - naturlige levesyklus for storfe; mesteparten av fødsel skjer vår og slaktes dermed høst (det er også noen fødsler høst).
- Omsetningsavgiften styres avmarkedsregulator, som for kjøtt er Nortura

### TODO - Spørsmål:
- Ingen omsetningsavgift for tre datoer i skjema (se del 1.2.3 over og [Norturas sider](http://totalmarked.nortura.no/omsetningsavgift/category13593.html)) - betyr dette 
    1. at forrige sats gjelder, 
    2. at man ikke får lov til å slakte da eller 
    3. ingen avgift?
- Hvor mye kjøtt ble frosset ned pga overproduksjon høsten (oktober+) 2017? Hvilken kilde går man til for dette - Nortura, Landbruksdepartementet, ...
- Er dette et problem bare bonden er opptatt av eller syns også det regulatoriske at dagens system er ugunstig og ønsker forandring?
- Stemmer det at slakteri også ser på trykket i oktober som et problem og ønsker jevnere produksjon? (Ring og spør slakter - Nortura?)

## 2. Initialize
### 2.1 Import necessary libraries

In [1]:
# -*- coding: UTF_8 -*-
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
sns.set(context='notebook', style='darkgrid', palette='deep')
import sklearn
import sys, os, imp
import aictools
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

from aictools.jupyter import display_summary_statistics as DataSummary

%matplotlib inline 

import qgrid
qgrid.nbinstall(overwrite=True)

from IPython.core.display import HTML
HTML("<style>.container { width:95% !important; }</style>")

In [2]:
# Import user defined functions package UDFs 
sys.path.insert(0,'C:\\Users\\DAVOL\\Documents\\AIC')
import UDFs
from UDFs import ax_properties #, DataSummary
imp.reload(UDFs) # Let's you run this block when UDF has been updated in stead of having to restart the kernel

In [10]:
# Noen dummy-funksjoner vi kommer til å bruke
def add_zero(string):
    if len(string)<4:
        string = '0'+string
    return string

### 1.2 Import data
Datasettene er hentet fra [data.norge.no](data.norge.no) og består av:
 - [Husdyrregisteret - data om registrerte storfeindivider](https://data.norge.no/data/mattilsynet/husdyrregisteret-data-om-registrerte-storfeindivider)
 - Leveranser til slakteri i landbruket 
i [2016](https://data.norge.no/data/landbruksdirektoratet/leveranser-til-slakteri-i-landbruket-i-2016), 
i [2015](https://data.norge.no/data/landbruksdirektoratet/leveranser-til-slakteri-i-landbruket-i-2015), 
i [2014](https://data.norge.no/data/landbruksdirektoratet/leveranser-til-slakteri-i-landbruket-i-2014) og 
i [2013](https://data.norge.no/data/landbruksdirektoratet/leveranser-til-slakteri-i-landbruket-i-2013) 
(publisert av: Landbruksdirektoratet)
 - [Kommunenummer](https://data.norge.no/data/statistisk-sentralbyr%C3%A5/kommuneinndeling) (merk at dette ikke er samme nummer som postnummer
 
 - Hent data fra Brønnøysundregisteret - se web eller ta kontakt... (Enhetsregisteret med link mellom foretaksnr og adresse finnes på data.norge.no)

In [3]:
#df = pd.read_csv('husdyrregisteret.csv')
df = pd.read_excel('husdyrregisteret.xlsx')

In [4]:
file_combined_ind = 1
if file_combined_ind!=1:
    df_slakt2013_org = pd.read_excel('LeveranseTilSlakteriLandbruket2013.xlsx') #, encoding = 'utf-8')
    df_slakt2014_org = pd.read_excel('LeveranseTilSlakteriLandbruket2014.xlsx')
    df_slakt2015_org = pd.read_excel('LeveranseTilSlakteriLandbruket2015.xlsx')
    df_slakt2016_org = pd.read_excel('LeveranseTilSlakteriLandbruket2016.xlsx')
else:
    df_slakt = pd.read_excel('LeveranseTilSlakteriLandbruket_Alle_Storfe.xlsx')

In [5]:
df_kommunenummer_org = pd.read_excel('Kommunenummer.xlsx')

## 2 Data utforskning - eksplorativ analyse
### 2.1 Data fra husdyrregisteret (per individ)
Beskrivelse av kolonner i datasettet 'husdyrregisteret':
- opprinnelsesmerke; landkode (dersom ikke norsk) + unik individ ID samme som individmerke
- opprinnelsesland; land individet er født
- individmerke - unikt merke for hvert individ
    - første 7-8 sifre (utenom de siste 4) sier noe om hvilken gård de er født på - 
        på mange mangler en første 0.
    - siste 4 sifre individnr.
- individstatus; status på om individ er rapportert komplett eller ikke (manglende rapport eller ikke). Mulige klasser:
    - *Dyr overført. Mangler rapport fra kjøper* 
    - *Dyr overført. Mangler rapport fra selger* 
    - *Dyr rapportert overført fra livdyrhandler/slaktet. Mangler rapport fra kjøper og selger*
    - *Dyr slaktet. Mangler rapport fra dyrehold*
    - *Dyr slaktet. Mangler rapport fra slakteri*
    - *Komplett*
- fodselsdato; fødselsdato
- kjonn; kjønn - to klasser a)kvige/ku eller b) okse
- rasekode og rase; kode og navn på rase
- rasebetegnelse - *usikker på betydning???*
- morsmerke - individmerke for mor
- produsentnr:
    - 4 første siffer kommune
    - 4 neste nummer gård
    - 2 siste nummer er bruker
- foretaksnr: organisasjonsnummer på bonden/produsent/samlag (som i Brønnøysundsregisteret)
- kalvingdato: Siste dato for kalving

In [6]:
df.head()

,opprinnelsesmerke,opprinnelsesland,individmerke,individstatus,fodselsdato,kjonn,rasekode,rase,rasebetegnelse,morsmerke,produsentnr,foretaksnr,kalvingsdato
0,DE0115254687,Tyskland,152504570006,Komplett,2007-05-19,Okse,LANDDYR$03100202001023,Gallowayfe,NaN,NaN,1.525046e+09,992245123.0,NaT
1,DE0115480978,Tyskland,152504570003,Komplett,2007-03-21,Kvige/ku,LANDDYR$03100202001023,Gallowayfe,NaN,NaN,1.525046e+09,992245123.0,2017-06-11
2,DE0115984604,Tyskland,152504570002,Komplett,2007-04-11,Kvige/ku,LANDDYR$03100202001023,Gallowayfe,NaN,NaN,1.525046e+09,992245123.0,2017-05-05
3,DE0115984606,Tyskland,152504570001,Komplett,2007-06-24,Kvige/ku,LANDDYR$03100202001023,Gallowayfe,NaN,NaN,1.525046e+09,992245123.0,2017-06-11
4,DE0350258419,Tyskland,152504570007,Komplett,2006-06-29,Okse,LANDDYR$03100202001023,Gallowayfe,NaN,NaN,1.525046e+09,992245123.0,NaT

In [7]:
DataSummary(df)

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

In [8]:
UDFs.printUniqueValues(df,['individstatus','kjonn'])

A Jupyter Widget

### 2.2 Kommunenummer

In [11]:
df_kommunenummer = df_kommunenummer_org[['code','name']]
df_kommunenummer.columns = ['komnr','komnavn']
df_kommunenummer.komnr = df_kommunenummer.komnr.apply(str)
df_kommunenummer.komnr = df_kommunenummer.komnr.apply(lambda x: add_zero(x))
DataSummary(df_kommunenummer)

C:\Users\DAVOL\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

### 2.3 Data fra leveranse til slakteri i landbruket

In [12]:
# Pre-prosseserings steg:
#  - Behold kun data på storfe; ku, kvige, okse, ungokse_kastrat og ungku
#  - Fjerne radene med kun 0'er (der bonde/produsent ikke har slaktet storfe)
#  - Legge til ekstra kolonne med år
#  - Kombinere alla datasettene 
if file_combined_ind!=1:
    df_namelist = [('df_slakt201'+'{}'+'_org').format(n) for n in np.arange(3,7)]
    queries_list = []

    for df_name in df_namelist:
        temp_query = """
        SELECT orgnr, navn, komnr,kalv_kg, ku_kg, kvige_kg, okse_kg, ungokse_kastrat_kg, ungku_kg
        FROM %s
        WHERE NOT ((kalv_kg==0) AND (ku_kg==0) AND (kvige_kg==0) AND (okse_kg==0) AND (ungokse_kastrat_kg==0) AND (ungku_kg==0))
        """%(str(df_name))
        queries_list += [temp_query]

    df_slakt2013 = sqldf(queries_list[0])
    df_slakt2013['år'] = 2013

    df_slakt2014 = sqldf(queries_list[1])
    df_slakt2014['år'] = 2014

    df_slakt2015 = sqldf(queries_list[2])
    df_slakt2015['år'] = 2015

    df_slakt2016 = sqldf(queries_list[3])
    df_slakt2016['år'] = 2016

    # Kombiner data for alle år
    df_slakt = df_slakt2013.append(df_slakt2014, ignore_index=True)[df_slakt2014.columns.tolist()]
    df_slakt = df_slakt.append(df_slakt2015, ignore_index=True)[df_slakt2015.columns.tolist()]
    df_slakt = df_slakt.append(df_slakt2016, ignore_index=True)[df_slakt2016.columns.tolist()]

In [116]:
# Legg til ekstra 0 i kommunenummer dersom det er tresifret (for å kombinere med komunnedatasett senere)
df_slakt.komnr = df_slakt.komnr.apply(str)
df_slakt.komnr = df_slakt.komnr.apply(lambda x: add_zero(x))

# Legg inn kommunenavn i slakt-tabell - Slå sammen på kommunenummer.
df_slakt = df_slakt.merge(df_kommunenummer,how='left',on='komnr')

In [13]:
DataSummary(df_slakt)

A Jupyter Widget

A Jupyter Widget

A Jupyter Widget

In [113]:
# Lagre sammensatt datasett i ny fil
df_slakt.to_excel('LeveranseTilSlakteriLandbruket_Alle_Storfe.xlsx', index=False)

In [14]:
df_slakt.head()

,orgnr,navn,komnr,kalv_kg,ku_kg,kvige_kg,okse_kg,ungokse_kastrat_kg,ungku_kg,år,komnavn
0,969519887,ALFHILD STORÅS,1636,230.1,1835.2,180.7,0.0,1342.6,736.0,2013,Meldal
1,969752042,STENUMGÅRD LUDVIG,520,0.0,2193.2,0.0,0.0,7368.1,1849.0,2013,Ringebu
2,977548241,ELIN HOBBERSTAD,1119,0.0,3146.5,0.0,0.0,0.0,2041.1,2013,Hå
3,994914855,SØLVERØD SAMDRIFT DA,811,0.0,846.7,0.0,3832.0,15557.1,0.0,2013,Siljan
4,969163330,TOR ANDERS HAGA,1124,0.0,3292.8,0.0,0.0,7618.8,664.4,2013,Sola

In [17]:
df_slakt_perkommune = df_slakt.drop(['orgnr','år'],axis=1).groupby(['komnavn', 'komnr']).sum()
df_slakt_perkommune_og_år = df_slakt.drop(['orgnr'],axis=1).groupby(['komnavn', 'komnr','år']).sum()

In [18]:
df_slakt_perkommune_og_år

                          kalv_kg     ku_kg  kvige_kg  okse_kg  \
komnavn       komnr år
Agdenes       1622  2013   3762.0   61899.0   10725.0   7606.7
                    2014   1814.8   50377.2    8945.3   3966.0
                    2015   1055.6   55252.2   10042.1   5632.1
                    2016   1875.8   60795.9   11382.6   5009.6
Alstahaug     1820  2013    877.1   82569.5   23331.1  19579.8
                    2014    665.5   80733.2   25684.4  17665.7
                    2015    529.3   74173.4   24143.9  19289.2
                    2016   1404.8   74151.8   26922.4  18083.4
Alta          2012  2013   3489.7   64586.8    5326.3   7923.6
                    2014   2919.6   65024.3    5375.9   6567.2
                    2015   4876.2   85107.2    7453.3   8257.5
                    2016   2728.6   77226.6    5095.0   4982.4
Alvdal        438   2013  10702.0   74620.2   25233.2   3411.2
                    2014  10767.8   64508.5   18289.4   4003.2
                    2015   6651.4   70014.7   16891.1   2087.9
                    2016   5540.1   69113.2   22364.3   4445.7
Andøy         1871  2013   2043.7   36688.8    2812.7    840.7
                    2014    478.9   32533.3    5179.1   1554.9
                    2015    472.5   30444.0   12013.3   1418.5
                    2016    990.3   30144.7    2686.5    778.3
Aremark       118   2013   4069.5    8847.1    5094.3    850.4
                    2014   5306.7   15094.8    6982.8      0.0
                    2015   3456.9   10439.4     943.6   2373.7
                    2016   2445.5   17307.7    3291.7   1842.8
Arendal       906   2013   4234.8   43125.2   13431.5  10224.6
                    2014   2418.7   34566.0   13405.0  13640.6
                    2015   3846.8   37753.2    9127.8   7586.7
                    2016   1341.6   39261.4    7118.2   7148.2
Asker         220   2013   1650.0   11284.2    2152.0   2830.0
                    2014   2276.7    8735.0    7347.3   1276.5
...                           ...       ...       ...      ...
Ørland        1621  2015   6860.3   76472.4   11523.4  18283.3
                    2016   6979.1   75974.1   12435.0  13781.8
Ørskog        1523  2013    462.4   14914.9    2663.7   2391.9
                    2014    455.0   16481.3    2112.4  10895.3
                    2015      0.0   10670.5    3042.7   5711.8
                    2016      0.0   16134.1    2757.8  10656.1
Ørsta         1520  2013   9987.3   92004.9   16332.8   5306.9
                    2014   8263.1   81065.8   16063.5   8142.0
                    2015   6387.8   79742.3   15565.6   3324.6
                    2016   5992.2   89425.8    9691.3   4081.1
Østre Toten   528   2013    815.4  110950.9   56694.7  41958.5
                    2014    980.1  103419.2   56529.2  79548.7
                    2015    657.3  119202.4   34992.7  47566.0
                    2016    450.5  109064.8   62394.7  37566.2
Øvre Eiker    624   2013  23341.4   38395.3   15094.8   3639.6
                    2014  23906.6   32487.3   11164.0   1293.5
                    2015  22109.2   38250.2   15105.7   2763.3
                    2016  24939.4   33406.3   10383.1   1647.8
Øyer          521   2013   5101.9   96321.8   32008.6   7259.3
                    2014   3933.8   91448.1   29971.9   7047.6
                    2015   2068.6   92038.1   39818.9   4453.8
                    2016   2855.3   95137.0   36010.4   5974.0
Øygarden      1259  2013      0.0    2227.2     226.0      0.0
                    2014      0.0    1297.0       0.0   1983.7
                    2015      0.0    1666.6     139.7      0.0
                    2016      0.0    2831.6    1585.3    215.2
Øystre Slidre 544   2013  17065.6   80634.2   23650.2   7503.9
                    2014  10781.4   69632.4   20995.3   7774.9
                    2015   7550.7   77818.8   16635.8   2657.9
                    2016   5922.9   84680.5   18912.2   3468.6

                          ungokse_kastrat_kg  ungku_kg
komnavn       komnr år
Agdenes       1622  2013             87308.3   50099.9
                    2014             86350.2   40696.8
                    2015             80789.5   42047.7
                    2016             88265.2   36943.9
Alstahaug     1820  2013            269044.1   73852.6
                    2014            249621.1   58748.1
                    2015            222296.4   72727.0
                    2016            253531.8   72658.5
Alta          2012  2013             78352.9   49058.3
                    2014             77926.4   47319.7
                    2015             88665.4   50882.0
                    2016             96578.9   54443.8
Alvdal        438   2013            132959.7   47603.3
                    2014            145144.7   45240.9
                    2015            148960.2   46861.9
                    2016            168949.0   37393.3
Andøy         1871  2013             69891.1   24093.7
                    2014             67511.0   24276.6
                    2015             62825.2   21241.5
                    2016             69915.1   14090.0
Aremark       118   2013             26630.9    8381.9
                    2014             24903.2    6605.2
                    2015             27542.0    6431.9
                    2016             56990.4    6076.7
Arendal       906   2013             85860.5   28783.0
                    2014             83839.6   28933.3
                    2015             77189.5   27368.9
                    2016             73446.6   18703.1
Asker         220   2013             19359.4    6442.7
                    2014             20234.6    5055.6
...                                      ...       ...
Ørland        1621  2015            372212.4   69690.4
                    2016            389977.1   83131.9
Ørskog        1523  2013             17183.6   13032.0
                    2014              5995.7    9220.1
                    2015             23155.0   13797.4
                    2016             19799.6   13959.1
Ørsta         1520  2013            184543.8   68217.0
                    2014            175480.1   48501.3
                    2015            184876.1   61134.9
                    2016            186279.8   59085.5
Østre Toten   528   2013            530355.8  104600.5
                    2014            698661.7   93628.3
                    2015            621243.7   86631.6
                    2016            659718.9  103847.4
Øvre Eiker    624   2013             58994.1   28848.9
                    2014             65281.0   35132.3
                    2015             79004.2   27541.7
                    2016             75691.4   29828.3
Øyer          521   2013            240568.9   79933.2
                    2014            205485.8   72585.2
                    2015            238814.2   68240.0
                    2016            248883.3   82827.7
Øygarden      1259  2013              6601.1     512.0
                    2014              4285.8     885.0
                    2015              1580.1    1169.6
                    2016              3454.4    1359.3
Øystre Slidre 544   2013            136008.1   45549.3
                    2014            119928.3   49241.1
                    2015            129765.3   51648.4
                    2016            113011.6   58685.3

[1613 rows x 6 columns]